# Virtual environments
.venv/
venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Django/Flask/DB
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# 환경 변수 파일
.env
.env.*

# macOS & Windows
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
